#container {
    background-image: url('../images/background-mobile.png');
    background-size: contain;
}

@media (min-width: 768px) {
    #container {
        background-image: url('../images/background-desktop.png');
        background-size: cover;
        background-position: start;
        background-repeat: no-repeat;
    }
}